<div class="col-md-4">
  <div class="thumbnail d-flex flex-column align-items-center">
    <%= image_tag pokemon_card.image, class: 'img-responsive', alt: pokemon_card.name %>
    <div class="caption">
      <%= link_to pokemon_card_path(pokemon_card) do %>
        <h3><%= pokemon_card.name.capitalize %></h3>
      <% end %>
    </div>
  </div>
</div>
