<h1 class="text-center mb-4">About PokeMart</h1>

<% @abouts.each do |about| %>
  <div class="row justify-content-center">
    <div class="col-md-6">
      <% if about.title.present? %>
        <h2 class="mb-3"><%= about.title %></h2>
      <% end %>
      <p><%= about.content %></p>
    </div>
  </div>
<% end %>
