<h1 class="text-center mb-4">About PokeMart</h1>

<% @about_pages.each do |about_page| %>
  <div class="row justify-content-center">
    <div class="col-md-8">
      <% if about_page.title.present? %>
        <h2 class="mb-3"><%= about_page.title %></h2>
      <% end %>
      <p><%= about_page.content %></p>
    </div>
  </div>
<% end %>
